*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn-h{
    height: 8vh;
    border-radius: 50px;
} 
.img-H{
    height:60px ;
    width:60px ;
    border-radius: 50px;
}
.span1{
    font-size: 40px;
    color: #fff !important;
}
.span2{
    font-size: 30px;
    color: #fff !important;
}
.span3{
    font-size: 20px;
    font-weight: 900;
    color: #fff !important;
}
.hr-style{
    border: 2px dotted #fff;
}
.nav-style{
    background-color: #daab40;
}

.fixed-div {
    position: fixed;
    width: 20%;
    height: 76vh;
    border-radius: 10px !important;
}


.scroll-div {
    margin-left: 25%; 
    height: 100vh; 
    overflow-y: scroll; 
}
.scroll-div h1, h3{
    word-spacing: 1px;
    font-weight: 800;
    font-family: monospace;
}

.h4-tag{
    font-size: 14px;
    font-weight: 700;
}
.img-div img{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    transition: transform 0.3s ease;
}
.getOverflow{
    overflow-y: scroll;
}
.img-div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.nav-link{
    font-weight: 600;
}

.blur-background {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    background-color:  #dddadaa6!important;
  }

.dispMap{
    height: 80vh;
    border-radius: 20px;
    position: absolute;
    background-color: #fffdfd;
}
.getColor{
    color: rgb(218, 5, 5) !important;
    cursor: pointer;
}
@media (max-width: 960px) {
  
.scroll-div {
    margin-left: 0%; 
    height: 100vh; 
    overflow-y: scroll; 
} 
}


  
  