
.top-div {
  position: relative;
  height: 50vh !important;
  border-radius:none !important;
  background: linear-gradient(to top, #AE8625, #F7EF8A, #D2AC47, #EDC967);
}
.form-body{
position: absolute !important;
background-color: #fff;
left: 0;
right: 0;
top: 170px;
border-radius: 10px;

}

.btn{   
  color: #fff !important;        
    background: linear-gradient(to right, #AE8625, #F7EF8A, #D2AC47, #EDC967);

}

@media (max-width:688px) {
    .top-div {
      height: 11vh;
      border-radius:0px 0px 20px 20px ;
      background: linear-gradient(to top, #AE8625, #F7EF8A, #D2AC47, #EDC967);
  
  }
  .form-body{
    position: absolute !important;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 200px;
    border-radius: 10px;
    
    }    .button-elem {
        display: block;
        width: 18px;
        height: 18px;
        margin: 17px 18px 0 18px;
        transform: rotate(180deg);
        fill: #F0EEEF;
      }
      .button {
        top: 10px;
        display: block;
        position: relative;
        width: 49px;
        height: 49px;
        margin: 0;
        overflow: hidden;
        outline: none;
        background-color: transparent;
        border: 0;
      }
    }