.container {
    margin-top: 5pc;

}

.get_bg {
    background-image: url(https://img.freepik.com/premium-photo/table-lamp-sofa_42044-1921.jpg?size=626&ext=jpg&ga=GA1.1.26054885.1689417218&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-fluid {
    width: 100% !important;
    height: 30vh;
}

.get-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px !important;
    row-gap: 10px !important;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
  
  }
::-webkit-scrollbar-track {
    background:#fff;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #382803a2;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#a99808;
  }


@media (max-width:688px) {
    .img-fluid {
        margin-top: 10px;
        width: 100% !important;
        height: 20vh;
    }

    .get-grid {
        column-gap: 4px !important;
        row-gap: 2px !important;
        cursor: pointer;
    }
   
}