   .loader {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 15pc;
    border-radius: 50%;
    box-shadow: inset 0 0 0 #d8c40a;
    animation: load 2s linear infinite alternate;
  }
  
  @keyframes load {
    0% {
      box-shadow: inset -20px 40px 0 #dcc80c;
    }
  
    100% {
      box-shadow: inset 20px -40px 0 #dcc80c;
    }
  }
  @media (max-width:688px) {
    .loader {
        margin-top: 18pc;
      }
      
  }