* {
  font-size: 13px;
}

.navbar-toggler {
  border: none;
}

.get-img {
  height: 60px;
}

.home-img {
  border-radius: 50px;
  height: 100vh;
  /* position: relative; */
}

.move-img {
  position: absolute;
  bottom: 340px;
  font-size: 50px;
}

.p-position {
  position: absolute;
  bottom: 298px;
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-item {
  animation-name: bounce-top;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.location {
  font-size: 12px;
  color: rgb(194, 191, 191);
}

.star {
  font-size: 12px;
}

.day {
  font-size: 12px;
}

.get-h {
  height: 70vh;
}

.p-color {
  color: rgba(122, 122, 122, 0.719);
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  border: 3px solid rgb(197, 197, 18);
  border-left: none;
  border-right: none;
  border-top: none;
}

.accordion-item {
  box-shadow: 0 0 10px rgb(197, 197, 18) !important;
  border: none;
  border-radius: 20px !important;
}

.accordion-button {
  font-weight: 600;
}

.get-position {
  /* position: relative; */
  bottom: 290px;
  border-radius: 30px !important;
  height: 40vh;
  left: 300px;
}

.get-image {
  height: 80vh;
  border-radius: 20px !important;
}

.get-overflow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.get-margin {
  margin-top: 90px;
}
.bg-color {
  background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
}

.btn {
  background-color: #dcaa14c2;
  color: white;
  border: none;
  border-radius: 0;
  bottom: 30px;
}

.btn:hover {
  background-color: #6c5718c2;
  color: white;
}

.img-container img {
  transition: transform 0.3s ease-out;
}

.img-container:hover img {
  transform: scale(0.95);
}
.bi-instagram,
.bi-facebook,
.bi-twitter {
  color: white !important;
  background-color: rgb(23, 22, 22);
}
.bi-instagram:hover,
.bi-facebook:hover,
.bi-twitter:hover {
  background-color: #dcaa14c2;
  color: white;
  cursor: pointer;
}
.get_shadow:hover {
  background-color: #dcaa14c2;
  color: white !important;
  box-shadow: 0 0 10px rgb(197, 197, 18) !important;
}

/* modal style */
.my_modal {
  border: 1px solid #dcaa14c2;
}

@keyframes bounce-top {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-24px);
  }

  55% {
    transform: translateY(0);
  }

  65% {
    transform: translateY(-12px);
  }

  75% {
    transform: translateY(0);
  }

  82% {
    transform: translateY(-6px);
  }

  87% {
    transform: translateY(0);
  }

  93% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

/* About style */

.imgHeight {
  height: 100vh;
  border-radius: 0px 0px 20px 20px;
}

.about-position {
  /* position: relative; */
  bottom: 250px;
  border-radius: 30px !important;
  left: 50px;
  right: 50px;
}

.about-h1 {
  font-size: 60px;
  font-weight: 600;
  color: rgb(128, 117, 117);
}

.p-about {
  font-size: 24px;
  font-weight: 600;
  color: rgb(128, 117, 117);
}

.new-high {
  height: 100vh;
}
.about {
  height: 50vh;
}
.imgPosition {
  /* position: relative; */
  top: 80px !important;
  left: -200px;
  height: 60vh;
  right: inherit;
}
.imgPosition2 {
  /* position: relative; */
  top: 80px !important;
  left: -200px;
  height: 60vh;
  right: inherit;
}

.about_h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(128, 117, 117);
}

.about_h5 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(128, 117, 117);
}
.get_height {
  height: 80vh;
}
.resort {
  margin-top: 16pc;
}
/* blog style */
.blog h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(128, 117, 117);
}
.blog h5 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(128, 117, 117);
}
.gievMarfhf {
  margin-top: 10pc;
}
.getOption {
  height: 50vh;
}
.optionCounterButton {
  cursor: pointer;
}
.optionCounterButton :disabled {
  cursor: not-allowed;
}
.modal-height {
  height: 45vh;
}
@media (max-width: 688px) {
  * {
    font-size: 15px;
  }

  .home-img {
    margin-top: 20px;
    height: 50vh;
  }

  .move-img {
    position: absolute;
    bottom: 210px;
    text-align: center;
    font-size: 23px;
  }

  .p-position {
    position: absolute;
    bottom: 150px;
    text-align: center;
  }

  .get-overflow {
    overflow-y: scroll;
    display: flex;
    gap: 20px;
  }

  .get-image {
    height: 50vh;
    border-radius: 20px !important;
  }

  .get-position {
    /* position: relative; */
    bottom: 60px;
    left: 0px;
  }
  .get-h {
    height: 50vh;
  }

  /* About page */
  .imgHeight {
    height: 85vh;
    border-radius: 0px 0px 20px 20px;
  }

  .about-position {
    /* position: relative; */
    bottom: 300px;
    border-radius: 30px !important;
    left: 50px;
    right: 50px;
  }

  .about-h1 {
    font-size: 40px;
    font-weight: 600;
    color: white !important;
    color: rgb(128, 117, 117);
  }

  .p-about {
    font-size: 24px;
    color: white !important;
    font-weight: 600;
    color: rgb(128, 117, 117);
  }

  .get-margin {
    height: 100vh;
  }
  .imgPosition {
    /* position: relative; */
    top: 300px !important;
    right: 200px;
    height: 30vh;
    right: inherit;
  }
  .imgPosition2 {
    /* position: relative; */
    top: 180px !important;
    right: 200px;
    height: 30vh;
    right: inherit;
  }
  .about_h1 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(128, 117, 117);
  }
  .get_height {
    height: 50vh;
  }
  .resort {
    margin-top: 46pc;
  }
  .blog h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(128, 117, 117);
  }
  .blog p {
    font-size: 20px;
  }
}
