.top-div {
    margin-top: 4pc;
    height: 20vh;
    border-radius:0px 0px 20px 20px ;
}
.btn{
    background: linear-gradient(to right, #AE8625, #F7EF8A, #D2AC47, #EDC967);

}

@media (max-width:688px) {
    .top-div {
      margin-top: 4pc;
      height: 10vh;
      border-radius:0px 0px 20px 20px ;
      background: linear-gradient(to top, #AE8625, #F7EF8A, #D2AC47, #EDC967);
  
  }
      .bottom-div { 
          position: relative;
          position: fixed;
          bottom: 0px;
          height: 8vh;
          border-radius:20px 20px 1px 1px ;
      }  
    }